# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
# dist (removido para deploy no PythonAnywhere)
# dist
dist-ssr
*.local

# Python
__pycache__/
*.pyc
servlist.db
